{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans %}Building{% endtrans %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('branch_building_index') }}"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" href="{{ path('branch_building_edit', { 'id': building.id }) }}"><i class="fa fa-pencil"></i></a>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
            <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ building.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ building.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ label(building.isActive) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Base{% endtrans %}</th>
                <td>{% if building.base %}{{ building.base.name }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
