{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Countries{% endtrans %}</h3>
                <a href="{{ path('setting_country_new') }}" class="btn btn-success btn-flat pull-right"><i class="fa fa-plus"></i> {% trans %}Add new{% endtrans %}</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>
                    {% if sort == 'name' %}
                        <a href="{{ path(app.request.get('_route'), {sort: 'name', order: order, page: page}|merge(queryParams)) }}" class="sort-by {{ order }}">{% trans %}Name{% endtrans %}</a>
                    {%  else %}
                        <a href="{{ path(app.request.get('_route'), {sort: 'name', order: order, page: page}|merge(queryParams)) }}">{% trans %}Name{% endtrans %}</a>
                    {% endif %}
                </th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        <tr class="filter">
            <td class="pointer" onclick="resetFilter('{{ path(app.request.get('_route')) }}')"><i class="fa fa-filter"></i></td>
            <td><input type="text" class="form-control" name="filter_name" value="{{ filter.name }}"></td>
            <td class="action-column">
                <button class="btn btn-block btn-primary" onclick="filter('{{ path(app.request.get('_route')) }}');"><i class="fa fa-filter"></i> {% trans %}Filter{% endtrans %}</button>
            </td>
        </tr>

        {% for country in countries %}
            <tr>
                <td><a href="{{ path('setting_country_show', { 'id': country.id }) }}">{{ country.id }}</a></td>
                <td>{{ country.name }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="{{ path('setting_country_show', { 'id': country.id }) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-default" href="{{ path('setting_country_edit', { 'id': country.id }) }}"><i class="fa fa-pencil"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                {% include ':theme/common:pagination.html.twig' with {'total': total, paginationParams: paginationParams} %}

            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    <script>
        var path = '{{ path(app.request.get('_route')) }}';

        function resetFilter(url) {
            location = url;
        }

        function filter(url) {
            url += '?';
            var filter_name = $('input[name=\'filter_name\']').val();

            if (filter_name) {
                url += '&filter_name=' + encodeURIComponent(filter_name);
            }

            location = url;
        }

        $('table tr.filter input').keydown(function(e) {
            if (e.keyCode == 13) {
                filter(path);
            }
        });
    </script>
{% endblock %}
