{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Profile{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('account_user_index') }}"><i class="fa fa-list"></i></a>
                </div>


<table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image{% endtrans %}</th>
                <td>
                    <img id="profile_image_preview" src="{{ image_resize(user.image, 120, 120) }}"  alt="{{ user.fullName }}">
                    <br>
                    <div style="position:relative;">
                        <a class='btn btn-primary' href='javascript:;'>
                            Choose File...
                            <input type="file"  id="profile_image" name="profile_image" accept="image/*" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                        </a>
                        &nbsp;
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Username{% endtrans %}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Fullname{% endtrans %}</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Phone{% endtrans %}</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>{% trans %}Roles{% endtrans %}</th>
                <td>
                    {{ prity_roles(user.roles, '|') }}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Position{% endtrans %}</th>
                <td>{% if user.position %}{{ user.position.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ label(user.isActive) }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){

            function uploadFile(file){
                var url = '{{ path('account_user_image', { 'id': user.id }) }}';
                var xhr = new XMLHttpRequest();
                var fd = new FormData();
                xhr.open("POST", url, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Every thing ok, file uploaded
                        // console.log(xhr.responseText); // handle response.
                        previewImage(file);
                    }
                };
                fd.append('profile_image', file);
                xhr.send(fd);
            }

            function previewImage(file) {
                var imageType = /image.*/;
                if (!file.type.match(imageType)) {
                    throw "File Type must be an image";
                }
                // Using FileReader to display the image content
                var reader = new FileReader();
                reader.onload = (function(previewImg) {
                    return function(e) {
                        $('#nav_profile_image').attr('src', e.target.result);
                        $('#nav_left_profile_image').attr('src', e.target.result);
                        $('#aside_profile_image').attr('src', e.target.result);

                        previewImg.attr('src', e.target.result);
                    };
                })($('#profile_image_preview'));
                reader.readAsDataURL(file);
            }

           $('#profile_image').on('change', function(event) {
               if (this.files.length > 0) {
                   var file = this.files[0];
                   uploadFile(file);
               }
           });
        });
    </script>
{% endblock %}
