{% extends 'base.html.twig' %}

{% block body %}
    <form id="permission-form" method="post" action="{{ path('account_permission_save') }}">
        <input type="hidden" name="role_id" value="{{ role.id }}">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Permissions{% endtrans %} - {{ role.name }}</h3>
                <a href="javascript:;" onclick="$('#permission-form').submit();" class="btn btn-success btn-flat pull-right"><i class="fa fa-floppy-o"></i> {% trans %}Save{% endtrans %}</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    {% trans %}Name{% endtrans %}
                </th>
                <th>{% trans %}Access{% endtrans %}</th>
                <th>{% trans %}Modify{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission }}</td>
                <td>
                    {% if permission in access %}
                        <input type="checkbox" class="permission-access" name="permission[access][]" value="{{ permission }}" checked="checked" />
                    {% else %}
                        <input type="checkbox" class="permission-access" name="permission[access][]" value="{{ permission }}" />
                    {% endif %}
                </td>
                <td>
                    {% if permission in modify %}
                        <input type="checkbox" class="permission-modify" name="permission[modify][]" value="{{ permission }}" checked="checked" />
                    {% else %}
                        <input type="checkbox" class="permission-modify" name="permission[modify][]" value="{{ permission }}" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <a onclick="$('.permission-access').attr('checked', true);">{% trans %}Select all{% endtrans %}</a>/
                <a onclick="$('.permission-access').attr('checked', false);">{% trans %}Unselect all{% endtrans %}</a>
            </td>
            <td>
                <a onclick="$('.permission-modify').attr('checked', true);">{% trans %}Select all{% endtrans %}</a>/
                <a onclick="$('.permission-modify').attr('checked', false);">{% trans %}Unselect all{% endtrans %}</a>
            </td>
        </tr>
        </tbody>
    </table>

            </div>
        </div>
    </div>
</div>
    </form>
{% endblock %}
