{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Permissions{% endtrans %}</h3>
                <a href="{{ path('account_permission_new') }}" class="btn btn-success btn-flat pull-right"><i class="fa fa-plus"></i> {% trans %}Add new{% endtrans %}</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>
                    {% if sort == 'name' %}
                        <a href="{{ path(app.request.get('_route'), {sort: 'name', order: order, page: page}) }}" class="sort-by {{ order }}">{% trans %}Name{% endtrans %}</a>
                    {%  else %}
                        <a href="{{ path(app.request.get('_route'), {sort: 'name', order: order, page: page}) }}">{% trans %}Name{% endtrans %}</a>
                    {% endif %}
                </th>
                <th>{% trans %}Value{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td><a href="{{ path('account_permission_show', { 'id': permission.id }) }}">{{ permission.id }}</a></td>
                <td>{{ permission.name }}</td>
                <td>{{ permission.value }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="{{ path('account_permission_show', { 'id': permission.id }) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-default" href="{{ path('account_permission_edit', { 'id': permission.id }) }}"><i class="fa fa-pencil"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                {% include ':theme/common:pagination.html.twig' with {'total': total, paginationParams: paginationParams} %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
