{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Manufacturer{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('nomenclature_manufacturer_index') }}"><i class="fa fa-list"></i></a>
                    <a class="btn btn-default" href="{{ path('nomenclature_manufacturer_edit', { 'id': manufacturer.id }) }}"><i class="fa fa-pencil"></i></a>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    {{ form_end(delete_form) }}
                </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ manufacturer.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ manufacturer.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image{% endtrans %}</th>
                <td><img src="{{ image_resize(manufacturer.image, 64, 64) }}" alt="{{ manufacturer.name }}" data-zoom data-image="{{ manufacturer.image }}"></td>
            </tr>
            <tr>
                <th>{% trans %}Sort order{% endtrans %}</th>
                <td>{{ manufacturer.sortOrder }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
