{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Base{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('branch_base_index') }}"><i class="fa fa-list"></i></a>
                    <a class="btn btn-default" href="{{ path('branch_base_edit', { 'id': base.id }) }}"><i class="fa fa-pencil"></i></a>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    {{ form_end(delete_form) }}
                </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ base.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image{% endtrans %}</th>
                <td>
                <img src="{{ image_resize(base.image, 120, 120) }}"  alt="{{ base.name }}" data-zoom data-image="{{ base.image }}">
                </td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ base.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Phone{% endtrans %}</th>
                <td>{{ base.phone }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address{% endtrans %}</th>
                <td>{{ base.address }}</td>
            </tr>
            <tr>
                <th>{% trans %}Branch{% endtrans %}</th>
                <td>
                    {% if base.branch %}{{ base.branch.name }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Buildings{% endtrans %}</th>
                <td>
                    {% for building in base.buildings %}
                        <span>{{ building.name }}</span>
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ label(base.isActive) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <td>{% if base.createdAt %}{{ base.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Updatedat{% endtrans %}</th>
                <td>{% if base.updatedAt %}{{ base.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
