{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans %}Line{% endtrans %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('branch_line_index') }}"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" href="{{ path('branch_line_edit', { 'id': line.id }) }}"><i class="fa fa-pencil"></i></a>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
            <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ line.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ line.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Building{% endtrans %}</th>
                <td>{{ line.building.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ label(line.isActive) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <td>{% if line.createdAt %}{{ line.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Updatedat{% endtrans %}</th>
                <td>{% if line.updatedAt %}{{ line.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdby{% endtrans %}</th>
                <td>{{ line.createdBy }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updatedby{% endtrans %}</th>
                <td>{{ line.updatedBy }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>{% endblock %}
