{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Machine edit{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('nomenclature_machine_index') }}"><i class="fa fa-list"></i></a>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    {{ form_end(delete_form) }}
                </div>

                <br><br>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">{% trans %}Machine{% endtrans %}</a></li>
                    <li><a href="#tab_2" data-toggle="tab">{% trans %}Complects{% endtrans %}</a></li>
                    <li><a href="#tab_3" data-toggle="tab">{% trans %}Documents{% endtrans %}</a></li>
                    <li><a href="#tab_4" data-toggle="tab">{% trans %}Documentation{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <br>
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <br>
                        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-machine-attribute">
                            <i class="fa fa-plus"></i>
                        </button>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="7">{% trans %}Complects{% endtrans %}</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Image{% endtrans %}</th>
                                <th>{% trans %}Number{% endtrans %}</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Price{% endtrans %}</th>
                                <th>{% trans %}State{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="complect_list">
                            {% for key, complect in machine.complects %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td><img src="{{ image_resize(complect.image, 64, 64) }}" alt="{{ complect.name }}" data-zoom data-image="{{ complect.image }}"></td>
                                    <td>{{ complect.number }}</td>
                                    <td>
                                        <a href="{{ path('nomenclature_complect_show', { 'id': complect.id }) }}" target="_blank">
                                        {{ complect.name }}
                                        </a>
                                    </td>
                                    <td>{{ complect.price }} лв.</td>
                                    <td>{{ state(complect.state) }}</td>
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="removeMachineComplect({{ complect.id }}, this)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane" id="tab_3">
                        <br>
                        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-machine-document">
                            <i class="fa fa-plus"></i>
                        </button>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="5">{% trans %}Documents{% endtrans %}</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="document_list">
                            {% for key, document in machine.documents %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ document.name }}</td>
                                    <td>{{ document.description }}</td>
                                    <td>
                                        <a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/{{ document.file }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button type="button" class="btn btn-default" onclick="removeMachineDocument({{ document.id }}, this)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if machine.documents|length == 0 %}
                                <tr>
                                    <td colspan="5">{% trans %}No results{% endtrans %}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane" id="tab_4">
                        <br>
                        {{ form_start(machine_manual_form, {attr:{'id': 'ajax_machine_manual_form'}}) }}
                        {{ form_widget(machine_manual_form) }}
                        <input class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                        {{ form_end(machine_manual_form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-machine-attribute">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}Add Complect{% endtrans %}</h4>
            </div>
            <div class="modal-body">

                <table id="table_complect_list" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}Image{% endtrans %}</th>
                        <th>{% trans %}Number{% endtrans %}</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                        <th>{% trans %}State{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="complect_all_list">
                    {% for complect in complects %}
                        <tr>
                            <td><input type="checkbox" data-complect name="" value="{{ complect.id }}"></td>
                            <td><img src="{{ image_resize(complect.image, 64, 64) }}" alt="{{ complect.name }}" data-zoom data-image="{{ complect.image }}"></td>
                            <td>{{ complect.number }}</td>
                            <td>{{ complect.name }}</td>
                            <td>{{ complect.price }} лв.</td>
                            <td>{{ state(complect.state) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
    <div class="modal fade" id="modal-machine-document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Add Document{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(machine_document_form, {attr:{'id': 'ajax_machine_document_form'}}) }}
                    {{ form_widget(machine_document_form) }}
                    <input id="ajax_machine_document_form_submit" class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                    {{ form_end(machine_document_form) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}
{% block javascripts %}
    <script>
        $('#table_complect_list').DataTable();
        function state(id) {
            var labels = {1:'Работи',2:'Не работи', 3:'В ремонт'};
            return '<small class="label label-success">' + labels[id] +'</small>';
        }
        $('[data-complect]').on('click', function (e) {
//https://www.w3schools.com/howto/howto_js_filter_table.asp
            var complectId = this.value;
            var url = '{{ path("nomenclature_machine_add_complect", {'id': 'machine_id'}) }}';
            url = url.replace('machine_id', {{ machine.id }});

            $.ajax({
                type: "POST",
                url: url,
                data: {complectId: complectId},
                dataType: "json",
                success: function(json){
                    if (json.status){
                        var count = ($('#complect_list tr').length + 1);

                        var url = '{{ path('nomenclature_complect_show', { 'id': 'complect_id' }) }}';
                        url = url.replace('complect_id', json.complect.id);

                        var html =
                                '<tr>' +
                                '   <td>' +
                                count +
                                '   </td>' +
                                '   <td>' +
                                '       <img src="' + json.complect.image + '">' +
                                '   </td>' +
                                '   <td>' +
                                json.complect.number +
                                '   </td>' +
                                '   <td>' +
                                '   <a href="' + url + '">' +
                                json.complect.name +
                                '   </a>' +
                                '   </td>' +
                                '   <td>' +
                                json.complect.price + ' лв.' +
                                '   </td>' +
                                '   <td>' +
                                state(json.complect.state) +
                                '   </td>' +
                                '   <td>' +
                                '<button type="button" class="btn btn-default remove-service"  onclick="removeMachineComplect(' + json.complect.id + ', this)"><i class="fa fa-trash"></i></button>' +
                                '   </td>' +
                                '</tr>';
                        $('#complect_list').append(html);
                    }
                },
                failure: function(errMsg) {
                }
            });
        });

        function removeMachineComplect(id, e) {
            var url = '{{ path("nomenclature_machine_remove_complect", {'id': 'complect_id'}) }}';
            url = url.replace('complect_id', id);

            $.ajax({
                type: "POST",
                url: url,
                data: {complectId: id},
                dataType: "json",
                success: function(json){
                    if (json.status){
                        $(e).closest('tr').remove();
                    }
                },
                failure: function(errMsg) {
                }
            });
        }

        function removeMachineDocument(id, e) {
            $.ajax({
                type: "POST",
                url: "{{ path('nomenclature_machine_remove_document') }}",
                data: {documentId: id},
                dataType: "json",
                success: function(json){
                    if (json.status){
                        $(e).closest('tr').remove();
                    }
                },
                failure: function(errMsg) {
                }
            });
        }

        $('#ajax_machine_manual_form').on('submit', function(e) {
            $.ajax({
                type: "POST",
                url: "{{ path('nomenclature_machine_add_manual') }}",
                data: $("#ajax_machine_manual_form").serialize(),
                dataType: "json",
                success: function(json){
                },
                failure: function(errMsg) {
                }
            });
            e.preventDefault(); //Prevent Default action.

        });

        var file = null;
        $('input[type="file"]').on('change', function(event) {
            if (this.files.length > 0) {
                file = this.files[0];
            }
        });

        $('#ajax_machine_document_form').on('submit', function(e) {
            e.preventDefault();
            var fd = new FormData();
            $.each($("#ajax_machine_document_form").serializeArray(), function (key, input) {
                fd.append(input.name, input.value);
            });
            fd.append('file', file);

            xhr = new XMLHttpRequest();

            xhr.open( 'POST', "{{ path('nomenclature_machine_add_document') }}", true );
            xhr.onreadystatechange = function ( response ) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    if (json.status) {
                        $('#modal-machine-document').modal('hide');
                        $("#ajax_machine_document_form").find("input[type=text]").val("");
                        $("#ajax_machine_document_form").find("input[type=file]").val("");
                        $("#ajax_machine_document_form").find("textarea").val("");
                        var count = ($('#document_list tr').length + 1)
                        var html =
                                '<tr>' +
                                '   <td>' +
                                count +
                                '   </td>' +
                                '   <td>' +
                                json.document.name +
                                '   </td>' +
                                '   <td>' +
                                json.document.description +
                                '   </td>' +
                                '   <td>' +
                                '<a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/' + json.document.file + '"><i class="fa fa-eye"></i></a>' +
                                '<button type="button" class="btn btn-default remove-service"  onclick="removeMachineDocument(' + json.document.id + ', this)"><i class="fa fa-trash"></i></button>' +
                                '   </td>' +
                                '</tr>';
                        $('#document_list').append(html);
                    }
                }
            };
            xhr.send( fd );

            e.preventDefault(); //Prevent Default action.

        });
    </script>
    <script>
        $('#bioprogrammeproductionbundle_machine_base').change(function () {
            var baseSelector = $(this);

            $.ajax({
                url: "{{ path('nomenclature_building_list') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    baseId: baseSelector.val()
                },
                success: function (buildings) {
                    var buildingSelect = $("#bioprogrammeproductionbundle_machine_building");

                    // Remove current options
                    buildingSelect.html('');

                    // Empty value ...
                    if (baseSelector.val()) {
                        buildingSelect.append('<option value>Избери сграда от ' + baseSelector.find("option:selected").text() + ' ...</option>');
                    } else {
                        buildingSelect.append('<option value>Избери</option>');
                    }


                    $.each(buildings, function (key, building) {
                        buildingSelect.append('<option value="' + building.id + '">' + building.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });

        $('#bioprogrammeproductionbundle_machine_building').change(function () {
            var buildingSelect = $(this);

            $.ajax({
                url: "{{ path('nomenclature_line_list') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    buildingId: buildingSelect.val()
                },
                success: function (lines) {
                    var lineSelect = $("#bioprogrammeproductionbundle_machine_line");

                    // Remove current options
                    lineSelect.html('');

                    // Empty value ...
                    if (buildingSelect.val()) {
                        lineSelect.append('<option value>Избери линия от ' + buildingSelect.find("option:selected").text() + ' ...</option>');
                    } else {
                        lineSelect.append('<option value>Избери</option>');
                    }


                    $.each(lines, function (key, line) {
                        lineSelect.append('<option value="' + line.id + '">' + line.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });

        //
    </script>
{% endblock %}
{% block stylesheets %}
<style>
#ajax_machine_manual_form .form-group .col-sm-2 {
    display: none;
}
#ajax_machine_manual_form .form-group .col-sm-10 {
    width: 100%;
}
</style>
{% endblock %}
