{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Machine creation{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('nomenclature_machine_index') }}"><i class="fa fa-list"></i></a>
                </div>


                {{ form_start(form) }}
        {{ form_widget(form) }}
    <input class="btn btn-success btn-flat" type="submit" value="{% trans %}Create{% endtrans %}" />
    {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#bioprogrammeproductionbundle_machine_base').change(function () {
            var baseSelector = $(this);

            $.ajax({
                url: "{{ path('nomenclature_building_list') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    baseId: baseSelector.val()
                },
                success: function (buildings) {
                    var buildingSelect = $("#bioprogrammeproductionbundle_machine_building");

                    // Remove current options
                    buildingSelect.html('');

                    // Empty value ...
                    if (baseSelector.val()) {
                        buildingSelect.append('<option value>Избери сграда от ' + baseSelector.find("option:selected").text() + ' ...</option>');
                    } else {
                        buildingSelect.append('<option value>Избери</option>');
                    }


                    $.each(buildings, function (key, building) {
                        buildingSelect.append('<option value="' + building.id + '">' + building.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });

        $('#bioprogrammeproductionbundle_machine_building').change(function () {
            var buildingSelect = $(this);

            $.ajax({
                url: "{{ path('nomenclature_line_list') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    buildingId: buildingSelect.val()
                },
                success: function (lines) {
                    var lineSelect = $("#bioprogrammeproductionbundle_machine_line");

                    // Remove current options
                    lineSelect.html('');

                    // Empty value ...
                    if (buildingSelect.val()) {
                        lineSelect.append('<option value>Избери линия от ' + buildingSelect.find("option:selected").text() + ' ...</option>');
                    } else {
                        lineSelect.append('<option value>Избери</option>');
                    }


                    $.each(lines, function (key, line) {
                        lineSelect.append('<option value="' + line.id + '">' + line.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });

        //
    </script>
{% endblock %}