{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans %}Machine{% endtrans %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('nomenclature_machine_index') }}"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" href="{{ path('nomenclature_machine_edit', { 'id': machine.id }) }}"><i class="fa fa-pencil"></i></a>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
            <br><br>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">{% trans %}Machine{% endtrans %}</a></li>
                    <li><a href="#tab_2" data-toggle="tab">{% trans %}Complects{% endtrans %}</a></li>
                    <li><a href="#tab_3" data-toggle="tab">{% trans %}Documents{% endtrans %}</a></li>
                    <li><a href="#tab_4" data-toggle="tab">{% trans %}Documentation{% endtrans %}</a></li>
                </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <br>
            <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ machine.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Base{% endtrans %}</th>
                <td>{% if machine.base %}{{ machine.base.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Building{% endtrans %}</th>
                <td>{% if machine.building %}{{ machine.building.name }}{% endif %}</td>
            </tr>
            {#<tr>#}
                {#<th>{% trans %}Line{% endtrans %}</th>#}
                {#<td>{% if machine.line %}{{ machine.line.name }}{% endif %}</td>#}
            {#</tr>#}
            <tr>
                <th>{% trans %}Number{% endtrans %}</th>
                <td>{{ machine.number }}</td>
            </tr>
            <tr>
                <th>{% trans %}Model{% endtrans %}</th>
                <td>{{ machine.model }}</td>
            </tr>
           <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ machine.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ machine.description|raw }}</td>
            </tr>
            <tr>
                <th>{% trans %}Image{% endtrans %}</th>
                <td><img src="{{ image_resize(machine.image, 64, 64) }}" alt="{{ machine.name }}" data-zoom data-image="{{ machine.image }}"></td>
            </tr>
            <tr>
                <th>{% trans %}State{% endtrans %}</th>
                <td>{{ state(machine.state) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Price{% endtrans %}</th>
                <td>{{ machine.price|number_format(2, '.', '') }} лв.</td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ label(machine.isActive) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Manufacturer{% endtrans %}</th>
                <td>{{ machine.manufacturer.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <td>{% if machine.createdAt %}{{ machine.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Updatedat{% endtrans %}</th>
                <td>{% if machine.updatedAt %}{{ machine.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdby{% endtrans %}</th>
                <td>{{ machine.createdBy }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updatedby{% endtrans %}</th>
                <td>{{ machine.updatedBy }}</td>
            </tr>
        </tbody>
    </table>
                </div>
                <div class="tab-pane" id="tab_2">
                    <br>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Image{% endtrans %}</th>
                                <th>{% trans %}Number{% endtrans %}</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Price{% endtrans %}</th>
                                <th>{% trans %}State{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="complect_list">
                            {% for key, complect in machine.complects %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td><img src="{{ image_resize(complect.image, 64, 64) }}" alt="{{ complect.name }}" data-zoom data-image="{{ complect.image }}"></td>
                                    <td><a href="{{ path('nomenclature_complect_show', { 'id': complect.id }) }}" target="_blank">{{ complect.number }}</a></td>
                                    <td>
                                        {{ complect.name }}
                                        <hr>
                                        <div>
                            {% for buildingBlockRef in complect.buildingBlocks %}
                                <div>
                                    <span><a href="{{ path('nomenclature_buildingblock_show', { 'id': buildingBlockRef.buildingBlock.id }) }}" target="_blank">{{ buildingBlockRef.buildingBlock.model }}</a></span> -
                                    <span>{{ buildingBlockRef.buildingBlock.name }}</span>
                                        <hr>
                                    {% for attributeRef in buildingBlockRef.attributes %}
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ attributeRef.attribute.name }} - {{ attributeRef.text }}</i></div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                                    </div>
                                    </td>
                                    <td>{{ complect.price }} лв.</td>
                                    <td>{{ state(complect.state) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>

                <div class="tab-pane" id="tab_3">
                    <br>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="document_list">
                            {% for key, document in machine.documents %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ document.name }}</td>
                                    <td>{{ document.description }}</td>
                                    <td>
                                        <a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/{{ document.file }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if machine.documents|length == 0 %}
                                <tr>
                                    <td colspan="5">{% trans %}No results{% endtrans %}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                </div>
                <div class="tab-pane" id="tab_4">
                    <br>
                    {% if machine.manual%}
                    {{ machine.manual.manual|raw }}
                    {% endif %}
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
