{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans %}Machine{% endtrans %} - {{ machine.name }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('nomenclature_machine_index') }}"><i class="fa fa-list"></i></a>
                <a class="btn btn-default" href="{{ path('nomenclature_machine_edit', { 'id': machine.id }) }}"><i class="fa fa-pencil"></i></a>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}
            </div>
            <br><br>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <img src="{{ image_resize(machine.image, 64, 64) }}" alt="{{ machine.name }}"  data-zoom data-image="{{ machine.image }}">
                    </td>
                    <td>
                        {% trans %}Number{% endtrans %}: {{ machine.number }} <br>
                        {% trans %}Model{% endtrans %}: {{ machine.model }} <br>
                        {% trans %}Price{% endtrans %}: <span style="background-color: #ddd; padding: 2px; font-weight: bold;">{{ machine.price|number_format(2, '.', '') }} лв. </span><br>
                    </td>
                    <td>
                        {% trans %}Base{% endtrans %}: {% if machine.base %}{{ machine.base.name }}{% endif %} <br>
                        {% trans %}Building{% endtrans %}: {% if machine.building %}{{ machine.building.name }}{% endif %} <br>
                        {% trans %}Manufacturer{% endtrans %}: {{ machine.manufacturer.name }} <br>
                    </td>
                    <td>
                        {% trans %}Createdat{% endtrans %}: {% if machine.createdAt %}{{ machine.createdAt|date('Y-m-d H:i:s') }}{% endif %} <br>
                        {% trans %}Updatedat{% endtrans %}: {% if machine.updatedAt %}{{ machine.updatedAt|date('Y-m-d H:i:s') }}{% endif %} <br>
                        {% trans %}Createdby{% endtrans %}: {{ machine.createdBy }} <br>
                        {% trans %}Updatedby{% endtrans %}: {{ machine.updatedBy }} <br>
                    </td>
                    <td>
                        {% trans %}State{% endtrans %}: {{ state(machine.state) }} <br>
                        {% trans %}Status{% endtrans %}: {{ label(machine.isActive) }} <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        {% trans %}Description{% endtrans %}<br>
                        {% if machine.description == '' %}
                            Няма описание
                        {% endif %}
                        {{ machine.description|raw }}
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">{% trans %}Complects{% endtrans %}</a></li>
                    <li><a href="#tab_2" data-toggle="tab">{% trans %}Documents{% endtrans %}</a></li>
                    <li><a href="#tab_3" data-toggle="tab">{% trans %}Documentation{% endtrans %}</a></li>
                </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <br>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Image{% endtrans %}</th>
                                <th>{% trans %}Number{% endtrans %}</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Ticket{% endtrans %}</th>
                                <th>{% trans %}Price{% endtrans %}</th>
                                <th>{% trans %}State{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="complect_list">
                            {% for key, complect in machine.complects %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td><img src="{{ image_resize(complect.image, 64, 64) }}" alt="{{ complect.name }}" data-zoom data-image="{{ complect.image }}"></td>
                                    <td><a href="{{ path('nomenclature_complect_show', { 'id': complect.id }) }}" target="_blank">{{ complect.number }}</a></td>
                                    <td>
                                        {{ complect.name }}
                                        <div style="background-color: #ddd">
                                            {% for buildingBlockRef in complect.buildingBlocks %}
                                                <div style="padding-left: 15px;">
                                                    <span>
                                                        <a href="{{ path('nomenclature_buildingblock_show', { 'id': buildingBlockRef.buildingBlock.id }) }}" target="_blank">
                                                        {{ buildingBlockRef.buildingBlock.name }}
                                                        </a>
                                                    </span>
                                                </div>
                                                <div style="background-color: #d0e5f5">
                                                    {% for attributeRef in buildingBlockRef.attributes %}
                                                        <div style="padding-left: 30px;">
                                                            {{ attributeRef.attribute.name }} - {{ attributeRef.text }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td><button class="btn bg-maroon">{% trans %}Ticket{% endtrans %}</button></td>
                                    <td>{{ complect.price|number_format(2, '.','') }} лв.</td>
                                    <td>{{ state(complect.state) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="tab-pane" id="tab_2">
                    <br>
                       <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="document_list">
                            {% for key, document in machine.documents %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ document.name }}</td>
                                    <td>{{ document.description }}</td>
                                    <td>
                                        <a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/{{ document.file }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if machine.documents|length == 0 %}
                                <tr>
                                    <td colspan="5">{% trans %}No results{% endtrans %}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                </div>

                <div class="tab-pane" id="tab_3">
                    <br>
                    {% if machine.manual%}
                    {{ machine.manual.manual|raw }}
                    {% endif %}
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
