{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Complect edit{% endtrans %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('nomenclature_complect_index') }}"><i class="fa fa-list"></i></a>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    {{ form_end(delete_form) }}
                </div>
                <br><br>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">{% trans %}Complect{% endtrans %}</a></li>
                    <li><a href="#tab_2" data-toggle="tab">{% trans %}Building Blocks{% endtrans %}</a></li>
                    <li><a href="#tab_3" data-toggle="tab">{% trans %}Documents{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <br>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
                <input class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
    {{ form_end(edit_form) }}
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <br>
                        <button type="button" onclick="$('.select2-container').css('width', '100%');" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-building-block">
                            <i class="fa fa-plus"></i>
                        </button>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="5">{% trans %}Building Blocks{% endtrans %}</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Image{% endtrans %}</th>
                                <th>{% trans %}Number{% endtrans %}</th>
                                <th>{% trans %}Model{% endtrans %}</th>
                                <th>{% trans %}Name and Params{% endtrans %}</th>
                                <th>{% trans %}Quantity{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="attribute_list">
                            {% for key, complectAttributeRef in complect.buildingBlocks %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td><img src="{{ image_resize(complectAttributeRef.buildingBlock.image, 64, 64) }}" alt="{{ complectAttributeRef.buildingBlock.name }}"  data-zoom data-image="{{ complectAttributeRef.buildingBlock.image }}"></td>
                                    <td>
                                        <a href="{{ path('nomenclature_buildingblock_show', { 'id': complectAttributeRef.buildingBlock.id }) }}" target="_blank">
                                            {{ complectAttributeRef.buildingBlock.number }}
                                        </a>
                                    </td>
                                    <td>{{ complectAttributeRef.buildingBlock.model }}</td>
                                    <td>
                                        {{ complectAttributeRef.buildingBlock.name }}
                                        <hr>
                                        <div id="complectAttributeRef_{{ complectAttributeRef.id }}">
                                        {% for attributeRef in complectAttributeRef.attributes %}
                                            <div>{{ attributeRef.attribute.name }} - {{ attributeRef.text }} <span class="delete-item" onclick="removeRef({{ attributeRef.id }}, this)">&times;</span></div>
                                        {% endfor %}
                                        </div>
                                    </td>
                                    <td>{{ complectAttributeRef.quantity }}</td>
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="removeBuildingBlock({{ complectAttributeRef.id }}, this)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button title="Добави параметри" type="button" class="btn btn-success" onclick="addParams({{ complectAttributeRef.id }}, this)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <br>
                        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-complect-document">
                            <i class="fa fa-plus"></i>
                        </button>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="5">{% trans %}Documents{% endtrans %}</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody id="document_list">
                            {% for key, document in complect.documents %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ document.name }}</td>
                                    <td>{{ document.description }}</td>
                                    <td>
                                        <a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/{{ document.file }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button type="button" class="btn btn-default" onclick="removeMachineDocument({{ document.id }}, this)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

            </div>
        </div>
    </div>
</div>
    <div class="modal fade" id="modal-building-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Building Block{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(building_block_field_form, {attr:{'id': 'ajax_building_block_field_form'}}) }}
                    {{ form_widget(building_block_field_form) }}
                    <input id="ajax_building_block_field_form_submit" class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                    {{ form_end(building_block_field_form) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-complect-document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Add Document{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(complect_document_form, {attr:{'id': 'ajax_complect_document_form'}}) }}
                    {{ form_widget(complect_document_form) }}
                    <input id="ajax_complect_document_form_submit" class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                    {{ form_end(complect_document_form) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-bb-attributes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Add Params{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <form id="ajax_complect_bb_form" class="form-horizontal">
                        <input type="hidden" name="complect_ref_id" value="">
                        <div id="bb-form-group">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-default clone-attr"><i class="fa fa-copy"></i></button>
                                </div>
                                <div class="col-sm-4">
                                    <select name="bb_attribute[id][]" required="required" class="form-control">
                                        <option></option>
                                        {% for key, attribute in attributes %}
                                        <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                                        {% endfor %}
                                    </select >
                                </div>
                                <div class="col-sm-6">
                                    <input id="" name="bb_attribute[text][]" maxlength="255" class="form-control" value="" type="text">
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <input id="ajax_complect_bb_form_submit" class="btn btn-success btn-flat" type="submit" value="{% trans %}Save{% endtrans %}" />
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
    {% block javascripts %}
        <script>
            $('.clone-attr').on('click', function(){
                var element = $(this).closest('.form-group').clone();
                element.addClass('is-cloned');
                $('#bb-form-group').append(element);
            });
            $('#ajax_complect_bb_form_submit').on('click', function(e) {
                //complect_ref_id
                $.ajax({
                    type: "POST",
                    url: '{{ path("nomenclature_complect_add_building_block_attr") }}',
                    data: $("#ajax_complect_bb_form").serialize(),
                    dataType: "json",
                    success: function(json){
                        $.ajax({
                            type: "POST",
                            url: '{{ path("nomenclature_complect_list_building_block_attr") }}',
                            data: {complect_ref_id: $('input[name="complect_ref_id"]').val()},
                            dataType: "json",
                            success: function(json){
                                var artibiteHtml = '';
                                $.each(json, function( index, value ) {
                                    artibiteHtml += '<div>' + value.name + ' - ' + value.text + '<span class="delete-item" onclick="removeRef(' + value.id + ', this)">&times;</span></div>';
                                });

                                $('#complectAttributeRef_' + $('input[name="complect_ref_id"]').val()).append(artibiteHtml)
                            },
                            failure: function(errMsg) {
                            }
                        });
                    },
                    failure: function(errMsg) {
                    }
                });

            });
            function addParams(id, e) {
                $('#modal-bb-attributes').modal('show');
                $('input[name="complect_ref_id"]').val(id);
                $('.is-cloned').remove();
            }
            function removeBuildingBlock(id, e) {
                var url = '{{ path("nomenclature_complect_remove_building_block", {'id': 'complect_id'}) }}';
                url = url.replace('complect_id', {{ complect.id }});

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {complectAttributeRefId: id},
                    dataType: "json",
                    success: function(json){
                        if (json.status){
                            $(e).closest('tr').remove();
                        }
                    },
                    failure: function(errMsg) {
                    }
                });
            }

            function removeRef(id, e) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('nomenclature_complect_remove_building_block_attr') }}",
                    data: {bb_attr_ref_id: id},
                    dataType: "json",
                    success: function(json){
                        if (json.status){
                            $(e).closest('div').remove();
                        }
                    },
                    failure: function(errMsg) {
                    }
                });
            }
            $('#ajax_building_block_field_form').on('submit', function(e) {
                var url = '{{ path("nomenclature_complect_add_building_block", {'id': 'complect_id'}) }}';
                url = url.replace('complect_id', {{ complect.id }});

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#ajax_building_block_field_form").serialize(),
                    dataType: "json",
                    success: function(json){
                        $('#modal-building-block').modal('hide');

                        if(json.status) {
                            var count = ($('#attribute_list tr').length + 1);
                            var url = '{{ path('nomenclature_buildingblock_show', { 'id': 'buildingblock_id' }) }}';
                            url = url.replace('buildingblock_id', json.buildingBlock.buildingBlockId);

                            var html =
                                    '<tr>' +
                                    '   <td>' +
                                    count +
                                    '   </td>' +
                                    '   <td>' +
                                    '   <img src="' + json.buildingBlock.image + '"  alt="' + json.buildingBlock.name + '" data-zoom data-image="' + json.buildingBlock.image + '">' +
                                    '   </td>' +
                                    '   <td>' +
                                    '   <a href="' + url + '" target="_blank">' +
                                    json.buildingBlock.number +
                                    '   </a>' +
                                    '   </td>' +
                                    '   <td>' +
                                    json.buildingBlock.model +
                                    '   </td>' +
                                    '   <td>' +
                                    json.buildingBlock.name +
                                    '   <hr>' +
                                    '   <div id="complectAttributeRef_' + json.buildingBlock.id + '">' +
                                    '   </div>' +
                                    '   </td>' +
                                    '   <td>' +
                                    json.buildingBlock.quantity +
                                    '   </td>' +
                                    '   <td>' +
                                    '<button type="button" class="btn btn-default remove-service"  onclick="removeBuildingBlock(' + json.buildingBlock.id + ', this)"><i class="fa fa-trash"></i></button>' +
                                    '<button title="Добави параметри" type="button" class="btn btn-success" onclick="addParams(' + json.buildingBlock.id + ', this)"><i class="fa fa-plus"></i></button>' +
                                    '   </td>' +
                                    '</tr>';
                            $('#attribute_list').append(html);
                        }

                    },
                    failure: function(errMsg) {
                    }
                });
                e.preventDefault(); //Prevent Default action.

            });

            function removeMachineDocument(id, e) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('nomenclature_complect_remove_document') }}",
                    data: {documentId: id},
                    dataType: "json",
                    success: function(json){
                        if (json.status){
                            $(e).closest('tr').remove();
                        }
                    },
                    failure: function(errMsg) {
                    }
                });
            }

            var file = null;
            $('input[type="file"]').on('change', function(event) {
                if (this.files.length > 0) {
                    file = this.files[0];
                }
            });

            $('#ajax_complect_document_form').on('submit', function(e) {
                e.preventDefault();
                var fd = new FormData();
                $.each($("#ajax_complect_document_form").serializeArray(), function (key, input) {
                    fd.append(input.name, input.value);
                });
                fd.append('file', file);

                xhr = new XMLHttpRequest();

                xhr.open( 'POST', "{{ path('nomenclature_complect_add_document') }}", true );
                xhr.onreadystatechange = function ( response ) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var json = JSON.parse(xhr.responseText);
                        if (json.status) {
                            $('#modal-complect-document').modal('hide');
                            $("#ajax_complect_document_form").find("input[type=text]").val("");
                            $("#ajax_complect_document_form").find("input[type=file]").val("");
                            $("#ajax_complect_document_form").find("textarea").val("");
                            var count = ($('#document_list tr').length + 1)
                            var html =
                                    '<tr>' +
                                    '   <td>' +
                                    count +
                                    '   </td>' +
                                    '   <td>' +
                                    json.document.name +
                                    '   </td>' +
                                    '   <td>' +
                                    json.document.description +
                                    '   </td>' +
                                    '   <td>' +
                                    '<a class="btn btn-default"  target="_blank" href="{{ baseUrl }}/' + json.document.file + '"><i class="fa fa-eye"></i></a>' +
                                    '<button type="button" class="btn btn-default remove-service"  onclick="removeMachineDocument(' + json.document.id + ', this)"><i class="fa fa-trash"></i></button>' +
                                    '   </td>' +
                                    '</tr>';
                            $('#document_list').append(html);
                        }
                    }
                };
                xhr.send( fd );

                e.preventDefault(); //Prevent Default action.

            });
        </script>
    {% endblock %}
