<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    {% set routeName = app.request.get('_route') %}
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img id="aside_profile_image" src="{{ image_resize(app.user.image, 120, 120) }}" class="img-circle" alt="{{ app.user.getFullName() }}">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.getFullName() }}</p>
                <!-- Status -->
            </div>
        </div>
        {% set аccounts = [
            'account_user_index','account_user_new','account_user_show','account_user_profile','account_user_edit',
            'account_role_index','account_role_new','account_role_show','account_role_edit',
            'account_permission_index','account_permission_new','account_permission_show','account_permission_edit',
            'account_position_index','account_position_new','account_position_show','account_position_edit',
            'account_permission_role'
        ] %}
        {% set settings = [
        'setting_city_index', 'setting_city_new', 'setting_city_show', 'setting_city_edit',
        'setting_country_index', 'setting_country_new', 'setting_country_show', 'setting_country_edit'
        ] %}

        {% set branches = [
        'branch_base_index', 'branch_base_new', 'branch_base_show', 'branch_base_edit',
        'branch_branch_index', 'branch_branch_new', 'branch_branch_show', 'branch_branch_edit',
        'branch_building_index', 'branch_building_new', 'branch_building_show', 'branch_building_edit',
        'branch_line_index', 'branch_line_new', 'branch_line_show', 'branch_line_edit'
        ] %}
        {% set marketing = [
        'marketing_notification_index', 'marketing_notification_show',
        'marketing_email_index', 'marketing_email_outbox', 'marketing_email_new', 'marketing_email_show', 'marketing_email_edit'
        ] %}

        {% set nomenclatures = [
        'nomenclature_category_index', 'nomenclature_category_new', 'nomenclature_category_show', 'nomenclature_category_edit',
        'nomenclature_attributegroup_index', 'nomenclature_attributegroup_new', 'nomenclature_attributegroup_show', 'nomenclature_attributegroup_edit',
        'nomenclature_attribute_index', 'nomenclature_attribute_new', 'nomenclature_attribute_show', 'nomenclature_attribute_edit',
        'nomenclature_machine_index', 'nomenclature_machine_new', 'nomenclature_machine_show', 'nomenclature_machine_edit',
        'nomenclature_manufacturer_index', 'nomenclature_manufacturer_new', 'nomenclature_manufacturer_show', 'nomenclature_manufacturer_edit',
        'nomenclature_buildingblock_index', 'nomenclature_buildingblock_new', 'nomenclature_buildingblock_show', 'nomenclature_buildingblock_edit'    ,
        'nomenclature_complect_index', 'nomenclature_complect_new', 'nomenclature_complect_show', 'nomenclature_complect_edit'
        ] %}

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">{% trans %} Menu {% endtrans %}</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="javascript:;"><i class="fa fa-dashboard"></i> <span>{% trans %}Dashboard{% endtrans %}</span></a>
            </li>
            <li class="treeview {% if routeName in аccounts %}active menu-open{% endif %}">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>{% trans %}Accounts{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if routeName in ['account_user_index','account_user_new','account_user_show','account_user_profile','account_user_edit'] %}active{% endif %}"><a href="{{ path('account_user_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Workers{% endtrans %}</a></li>
                    <li class="{% if routeName in ['account_role_index','account_role_new','account_role_show','account_role_edit', 'account_permission_role'] %}active{% endif %}"><a href="{{ path('account_role_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Roles{% endtrans %}</a></li>
                    {#<li><a href="{{ path('account_permission_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Permissions{% endtrans %}</a></li>#}
                    <li class="{% if routeName in ['account_position_index','account_position_new','account_position_show','account_position_edit'] %}active{% endif %}"><a href="{{ path('account_position_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Positions{% endtrans %}</a></li>
                </ul>
            </li>
            <li class="treeview {% if routeName in branches %}active menu-open{% endif %}">
                <a href="javascript:;">
                    <i class="fa fa-cubes"></i>
                    <span>{% trans %}Branches{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if routeName in ['branch_branch_index', 'branch_branch_new', 'branch_branch_show', 'branch_branch_edit'] %}active{% endif %}"><a href="{{ path('branch_branch_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Branches{% endtrans %}</a></li>
                    <li class="{% if routeName in ['branch_base_index', 'branch_base_new', 'branch_base_show', 'branch_base_edit'] %}active{% endif %}" ><a href="{{ path('branch_base_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Bases{% endtrans %}</a></li>
                    <li class="{% if routeName in ['branch_building_index', 'branch_building_new', 'branch_building_show', 'branch_building_edit'] %}active{% endif %}"><a href="{{ path('branch_building_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Buildings{% endtrans %}</a></li>
                    <li class="{% if routeName in ['branch_line_index', 'branch_line_new', 'branch_line_show', 'branch_line_edit'] %}active{% endif %}"><a href="{{ path('branch_line_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Lines{% endtrans %}</a></li>
                </ul>
            </li>
            <li class="treeview {% if routeName in nomenclatures %}active menu-open{% endif %}">
                <a href="javascript:;">
                    <i class="fa fa-gear"></i>
                    <span>{% trans %}Nomenclature{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    {#<li class="{% if routeName in ['nomenclature_category_index', 'nomenclature_category_new', 'nomenclature_category_show', 'nomenclature_category_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_category_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Categories{% endtrans %}</a></li>#}
                    <li class="{% if routeName in ['nomenclature_attributegroup_index', 'nomenclature_attributegroup_new', 'nomenclature_attributegroup_show', 'nomenclature_attributegroup_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_attributegroup_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Param groups{% endtrans %}</a></li>
                    <li class="{% if routeName in ['nomenclature_attribute_index', 'nomenclature_attribute_new', 'nomenclature_attribute_show', 'nomenclature_attribute_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_attribute_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Params{% endtrans %}</a></li>
                    <li class="{% if routeName in ['nomenclature_buildingblock_index', 'nomenclature_buildingblock_new', 'nomenclature_buildingblock_show', 'nomenclature_buildingblock_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_buildingblock_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Building Blocks{% endtrans %}</a></li>
                    <li class="{% if routeName in ['nomenclature_complect_index', 'nomenclature_complect_new', 'nomenclature_complect_show', 'nomenclature_complect_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_complect_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Complects{% endtrans %}</a></li>


                    {#<li class="{% if routeName in ['nomenclature_machine_index', 'nomenclature_machine_new', 'nomenclature_machine_show', 'nomenclature_machine_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_machine_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Machines{% endtrans %}</a></li>#}
                    <li class="{% if routeName in ['nomenclature_manufacturer_index', 'nomenclature_manufacturer_new', 'nomenclature_manufacturer_show', 'nomenclature_manufacturer_edit'] %}active{% endif %}"><a href="{{ path('nomenclature_manufacturer_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Manufacturers{% endtrans %}</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('machineorder_index') }}">
                    <i class="fa fa-gear"></i>
                    <span>{% trans %}Заявка за машина{% endtrans %}</span>
                </a>
            </li>

            <li class="treeview {% if routeName in marketing %}active menu-open{% endif %}">
                <a href="#">
                    <i class="fa fa-share-alt"></i>
                    <span>{% trans %}Marketing{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if routeName in ['marketing_email_index', 'marketing_email_outbox', 'marketing_email_new', 'marketing_email_show', 'marketing_email_edit'] %}active{% endif %}">
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>
                            <span>{% trans %}Messaging{% endtrans %}</span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: block">
                            <li class="{% if routeName in ['marketing_email_index'] %}active{% endif %}">
                                <a href="{{ path('marketing_email_index') }}"><i class="fa fa-circle-o"></i> {% trans %}Inbox{% endtrans %}</a>
                            </li>
                            <li class="{% if routeName in ['marketing_email_outbox'] %}active{% endif %}">
                                <a href="{{ path('marketing_email_outbox') }}"><i class="fa fa-circle-o"></i> {% trans %}Outbox{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if routeName in ['marketing_notification_index', 'marketing_notification_show'] %}active{% endif %}"><a href="{{ path('marketing_notification_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Notifications{% endtrans %}</a></li>
                </ul>
            </li>
            <li>
                <a href="ticket.html">
                    <i class="fa fa-ticket"></i>
                    <span>{% trans %}Tickets{% endtrans %}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>{% trans %}Reports{% endtrans %}</span>
                </a>
            </li>
            <li class="treeview {% if routeName in settings %}active menu-open{% endif %}">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>{% trans %}Systems{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="setting.html"><i class="fa fa-circle-o"></i>{% trans %}Settings{% endtrans %}</a></li>
                    <li class="{% if routeName in ['setting_country_index', 'setting_country_new', 'setting_country_show', 'setting_country_edit'] %}active{% endif %}"><a href="{{ path('setting_country_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Countries{% endtrans %}</a></li>
                    <li class="{% if routeName in ['setting_city_index', 'setting_city_new', 'setting_city_show', 'setting_city_edit'] %}active{% endif %}"><a href="{{ path('setting_city_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Cities{% endtrans %}</a></li>
                    <li><a href="ticket-status.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Statuses{% endtrans %}</a></li>
                    <li><a href="priority.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Reports{% endtrans %}</a></li>
                    <li><a href="ticket-label.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Labels{% endtrans %}</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
