<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    {% set routeName = app.request.get('_route') %}
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ image_resize(app.user.image, 120, 120) }}" class="img-circle" alt="{{ app.user.getFullName() }}">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.getFullName() }}</p>
                <!-- Status -->
            </div>
        </div>
        {% set аccounts = [
            'account_user_index','account_user_new','account_user_show','account_user_profile','account_user_edit',
            'account_role_index','account_role_new','account_role_show','account_role_edit',
            'account_permission_index','account_permission_new','account_permission_show','account_permission_edit',
            'account_position_index','account_position_new','account_position_show','account_position_edit',
            'account_permission_role'
        ] %}
        {% set settings = [
            'setting_city_index', 'setting_city_new', 'setting_city_show', 'setting_city_edit',
            'setting_country_index', 'setting_country_new', 'setting_country_show', 'setting_country_edit'
        ] %}

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">{% trans %} Menu {% endtrans %}</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="javascript:;"><i class="fa fa-dashboard"></i> <span>{% trans %}Dashboard{% endtrans %}</span></a>
            </li>
            <li class="treeview {% if routeName in аccounts %}active menu-open{% endif %}">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>{% trans %}Accounts{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if routeName in ['account_user_index','account_user_new','account_user_show','account_user_profile','account_user_edit'] %}active{% endif %}"><a href="{{ path('account_user_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Workers{% endtrans %}</a></li>
                    <li class="{% if routeName in ['account_role_index','account_role_new','account_role_show','account_role_edit', 'account_permission_role'] %}active{% endif %}"><a href="{{ path('account_role_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Roles{% endtrans %}</a></li>
                    {#<li><a href="{{ path('account_permission_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Permissions{% endtrans %}</a></li>#}
                    <li class="{% if routeName in ['account_position_index','account_position_new','account_position_show','account_position_edit'] %}active{% endif %}"><a href="{{ path('account_position_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Positions{% endtrans %}</a></li>
                </ul>
            </li>
            <li>
                <a href="bases.html">
                    <i class="fa fa-cubes"></i>
                    <span>{% trans %}Bases{% endtrans %}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>{% trans %}Production{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="machine.html"><i class="fa fa-circle-o"></i>{% trans %}Machines{% endtrans %}</a></li>
                    <li><a href="option.html"><i class="fa fa-circle-o"></i>{% trans %}Options{% endtrans %}</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share-alt"></i>
                    <span>{% trans %}Marketing{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="messaging.html"><i class="fa fa-circle-o"></i>{% trans %}Messaging{% endtrans %}</a></li>
                    <li><a href="notification.html"><i class="fa fa-circle-o"></i>{% trans %}Notifications{% endtrans %}</a></li>
                </ul>
            </li>
            <li>
                <a href="ticket.html">
                    <i class="fa fa-ticket"></i>
                    <span>{% trans %}Tickets{% endtrans %}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>{% trans %}Reports{% endtrans %}</span>
                </a>
            </li>
            <li class="treeview {% if routeName in settings %}active menu-open{% endif %}">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>{% trans %}Systems{% endtrans %}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="setting.html"><i class="fa fa-circle-o"></i>{% trans %}Settings{% endtrans %}</a></li>
                    <li class="{% if routeName in ['setting_country_index', 'setting_country_new', 'setting_country_show', 'setting_country_edit'] %}active{% endif %}"><a href="{{ path('setting_country_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Countries{% endtrans %}</a></li>
                    <li class="{% if routeName in ['setting_city_index', 'setting_city_new', 'setting_city_show', 'setting_city_edit'] %}active{% endif %}"><a href="{{ path('setting_city_index') }}"><i class="fa fa-circle-o"></i>{% trans %}Cities{% endtrans %}</a></li>
                    <li><a href="ticket-status.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Statuses{% endtrans %}</a></li>
                    <li><a href="priority.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Reports{% endtrans %}</a></li>
                    <li><a href="ticket-label.html"><i class="fa fa-circle-o"></i>{% trans %}Tickets Labels{% endtrans %}</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
